<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head
	th:replace="fragments/page_header::page_head('Category-ShopHereAdmin')"></head>


<body>
	<div th:replace="fragments/navbar::menu"></div>
	<div class="pt-3">
		<h2 class="text-center">Manage Category</h2>
	</div>
	<div class="float-right pr-5">
		<a th:href="@{/categories/new}"><span
			class="fas fa-user-plus fa-lg-custom"></span></a> &nbsp;&nbsp; <a
			th:href="@{/categories/export/csv}"><span
			class="fas fa-file-csv fa-lg-custom"></span></a> &nbsp;
	</div>


	<div th:replace="fragments/search ::search_form('/categories/page/1')"></div>

	<div class="table-content">
		<div th:if="${message!=null}" class="alert alert-success text-center">
			[[${message}]]</div>
		<table
			class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Category Image</th>

					<th
						th:replace="fragments/list_fragment::column_link('/categories','name','Category Name')" />
					<th class="hideable-column">Alias</th>
					<th>Enabled</th>
					<th>Action</th>
				</tr>

			</thead>

			<tbody>
				<tr th:each="category:${listCategories}">
					<td>[[${category.id}]]</td>
					<td><img th:if="${category.imagePath==null}"
						th:src="@{${category.imagePath}}" width="100px" height="100px"></img>
						<img th:if="${category.imagePath!=null}"
						th:src="@{${category.imagePath}}" width="100px" height="100px"></img>
					</td>
					<td>[[${category.name}]]</td>
					<td class="hideable-column">[[${category.alias}]]</td>
					<td>
						<div
							th:replace="fragments/list_fragment::enable_status(${category.enabled},'category','/categories/'+${category.id})" />
					</td>

					<td>
						<div style="display: flex;">
							<div
								th:replace="fragments/list_fragment::edit('Category','/categories/edit/'+${category.id},${category.id})"></div>
							&nbsp;

							<th:block th:if="${category.hasChildren==false}">

								<div
									th:replace="fragments/list_fragment::delete('Category','/categories/delete/'+${category.id},${category.id})"></div>
							</th:block>
						</div>
					</td>
				</tr>
			</tbody>

		</table>
	</div>

	<div th:if="${keyword!=null}" class="text-center">
		<span>Search Result does not show Categories in hierarchical
			form</span>
		<div
			th:replace="fragments/pagination ::pagination('/categories','categories')"></div>
	</div>
	<div th:unless="${keyword!=null}">
		<div
			th:replace="fragments/pagination ::pagination('/categories','top level categories')"></div>
	</div>
	<div th:replace="fragments/model_fragments::confirm_modal"></div>
	<div th:replace="fragments/footer::footer_page"></div>
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">

		moduleURL = "[[@{/categories}]]"

		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				showDeleteConfirmModel($(this), 'category')
			})
		})

	</script>
</body>

</html>