<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head
	th:replace="fragments/page_header::page_head('Category-ShopHereAdmin')"></head>


<body>
	<div th:replace="fragments/navbar::menu"></div>
	<div class="pt-3">
		<h2 class="text-center">Manage Category</h2>
	</div>
	<div class="float-right pr-5">
		<a th:href="@{/categories/new}"><span
			class="fas fa-user-plus fa-lg-custom"></span></a> &nbsp;&nbsp; <a
			th:href="@{/}"><span class="fas fa-file-csv fa-lg-custom"></span></a>
		&nbsp;
	</div>


	<div class="pl-5 mt-2">
		<form th:action="@{/}" class="form-inline">
			Filter: &nbsp; <input type="search" name="keyword"
				th:value="${keyword}" class="form-control" required /> &nbsp;&nbsp;
			<input type="submit" value="Search" class="btn btn-primary" />
			&nbsp; <input type="reset" value="Clear" class="btn btn-danger"
				onclick="clearFeature()" />
		</form>
	</div>

	<div class="table-content">
		<div th:if="${message!=null}" class="alert alert-success text-center">
			[[${message}]]</div>
		<table
			class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Category Image</th>
					<th><a class="text-white"
						th:href="@{'/categories?sortDir='+${reverseSortDir}}">
							Category Name</a> <span
						th:class="${reverseSortDir=='asc'?'fas fa-sort-down':'fas fa-sort-up'}"></span></th>
					<th>Alias</th>
					<th>Enabled</th>
					<th>Action</th>
				</tr>

			</thead>

			<tbody>
				<tr th:each="category:${listCategories}">
					<td>[[${category.id}]]</td>
					<td><img th:if="${category.imagePath==null}"
						th:src="@{${category.imagePath}}" width="100px" height="100px"></img>
						<img th:if="${category.imagePath!=null}"
						th:src="@{${category.imagePath}}" width="100px" height="100px"></img>
					</td>
					<td>[[${category.name}]]</td>
					<td>[[${category.alias}]]</td>
					<td><a th:if="${category.enabled==true}"
						class="fas fa-check-circle fa-lg" style="color: #70db06;"
						th:href="@{'/categories/'+${category.id}+'/enabled/false'}" title="Disable user"></a> <a
						th:if="${category.enabled==false}"
						class="fas fa-check-circle fa-lg" style="color: black;"
						th:href="@{'/categories/'+${category.id}+'/enabled/true'}" title="Enable user"></a></td>

					<td><a class="fas fa-user-edit fa-lg " style="color: #007bff"
						th:href="@{'/categories/edit/'+${category.id}}"
						title="Edit the user"></a> 
						&nbsp;
						<th:block th:if="${category.hasChildren==false}">
						<a
						class="fas fa-trash-alt fa-lg link-delete" 
						style="color: #f50000;"
						th:href="@{'/categories/delete/'+${category.id}}" 
						th:entityId="${category.id}"
						title="Delete the User"></a></td>
						</th:block>
				</tr>
			</tbody>

		</table>
	</div>
	<div th:replace="fragments/pagination ::pagination('/categories','categories')"></div>
	<div th:replace="fragments/model_fragments::confirm_modal"></div>
	<div th:replace="fragments/footer::footer_page"></div>
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
	
	    moduleURL="[[@{/categories}]]"
		
		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				showDeleteConfirmModel($(this),'category')
			})
		})
		
	</script>
</body>
</html>