<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

</head>
<body>
	<th th:fragment="column_link(fieldName,columnLabel)">
	<a
		class="text-white"
		th:href=
		"@{'/users/page/'+${currentPage}+'?sortField='+${fieldName}+'&sortDir='+${sortField!=fieldName?reverseSortDir:SortDir}+${keyword!=null ? '&keyword='+keyword:' '}}">
			[[${columnLabel}]]
	</a> <span th:if="${SortField==fieldName}"
		th:class="${SortDir=='asc'?'fas fa-sort-up':'fas fa-sort-down'}"></span>
	</th>
</body>
</html>