<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments/page_header::page_head('Home-Page')"></head>
<style>

</style>
<body>

	<div th:replace="fragments/navbar::menu"></div>
	<div class="container-fluid p-4"
		style="display: flex; align-items: flex-end; justify-content: space-between;">
		<h1>ShopHere Control Panel</h1>
		<div>
			<h3>
				Welcome <a th:href="@{/account}"
					sec:authentication="principal.fullname"></a>
			</h3>
			<span sec:authentication="principal.authorities"></span> &nbsp;
			&nbsp; <span sec:authentication="principal.CurrentDate"></span>
		</div>


	</div>

	<div class="dashboard">
		<div class="row">

			<div class="col-sm-4">
				<div class="card1">
					<div class="card-body">
						<h1 class="card-title">User</h1>
						<h4 class="card-text">[[${userCount}]]</h4>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card2" >
					<div class="card-body">
						<h1 class="card-title">Category</h1>
						<h4 class="card-text">[[${categoryCount}]]</h4>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="card3">
					<div class="card-body">
						<h1 class="card-title">Brand</h1>
						<h4 class="card-text">0</h4>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer::footer_page"></div>
</html>