<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
	<!-- <meta http-equiv="Content-Type" content="text/html" charset=UTF-8">-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0 ,minimum-scale=1.0">
	<title>Home-ShopHere Admin</title>
	<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />

	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/src/main/resources/static/css/index.css}" />
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Roboto', sans-serif;
	}

	#navbar {
		position: sticky;
		top: 0;
		left: 0;
		z-index: 100;
		padding: .5rem 5rem;
		background: #189bf3;
	}

	.navbar .navbar-brand {
		font-size: 25px;
		font-weight: 600;
		color: #fff;
		letter-spacing: 4px;
	}

	#navbarSupportedContent a {
		color: #fff;
		border-bottom: 2px solid transparent;
	}

	#navbarSupportedContent a:hover {
		border-bottom: 2px solid #7e1d53;
		;
	}

	#navbarSupportedContent button {
		background-color: #ffffff;
		width: 5rem;
		border-radius: 15px;
		color: black;
		border: none;
	}

	#navbarSupportedContent button:hover {
		background-color: #7e1d53;
		color: white;
	}

	.table-content {
		margin: 50px;
	}
</style>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark stroke" id="navbar">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><b>Shop</b>-Here</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
					<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/users}">Users</a>
					</li>

					<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Catagories</a>
					</li>


					<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Brands</a></li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Products</a></li>

					<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Customers</a>
					</li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Shipping</a></li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Reports</a></li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Menus</a></li>
					<li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Setting</a></li>
				</ul>
				<button class="btn btn-primary">Sign In</button>

			</div>
		</div>
	</nav>
	<div class="pl-5">
		<h2 class="text-center">Manage User</h2>
		<a th:href="@{/users/new}">New Users</a>
	</div>


	<div th:if="${message!=null}" class="alert alert-success text-center">
		[[${message}]]</div>
	<div class="table-content">
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th>User ID</th>
					<th>Email</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Roles</th>
					<th>Photos</th>
					<th>Enabled</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="user:${listusers}">
					<td>[[${user.id}]]</td>
					<td>[[${user.email}]]</td>
					<td>[[${user.firstName}]]</td>
					<td>[[${user.lastname}]]</td>
					<td>[[${user.roles}]]</td>
					<td><span class="fas fa-regular fa-user fa-2x icon-green"></span></td>
					<td><a th:if="${user.enabled==true}" 
					            class="fas fa-check-circle fa-lg" 
					            style="color: #70db06;"
					            th:href="@{'/users/'+${user.id}+'/enabled/false'}"
					             title="Disable user"
							></a>

						<a th:if="${user.enabled==false}" 
						     class="fas fa-check-circle fa-lg" 
						     style="color: black;"
						      th:href="@{'/users/'+${user.id}+'/enabled/true'}"
						      title="Enable user"></a>
					</td>
					<td><a class="fas fa-user-edit fa-lg " style="color: #007bff"
							th:href="@{'/users/edit/'+${user.id}}" title="Edit the user"></a> <span>|</span> <a
							class="fas fa-trash-alt fa-lg link-delete" style="color: #f50000;"
							th:href="@{'/users/delete/'+${user.id}}" th:userId="${user.id}" title="Delete the User"></a>
					</td>

				</tr>
			</tbody>
		</table>
		<div class="modal fade text-center" id="confirmmodalDialog">
			<div class="modal-dialog">

				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="modalTitle">Delete Confirmation</h4>
						<button type="button" class="close" data-dismiss="modal">&times</button>
					</div>

					<div class="modal-body">
						<span id="confirmText"></span>
					</div>
					<div class="modal-footer">
						<a class="btn btn-success" id="yesButton" href="">yes</a>
						<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="text-center">
		<p>ShopHere Control Panel-Copyright &copy; ShopHere</p>
	</div>
	<script type="text/javascript">
		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				link = $(this);
				userId = link.attr("userId")
				e.preventDefault();
				$("#confirmmodalDialog").modal();
				$("#confirmText").text("Are you want to delete this User ID:" + userId + "?")
				$("#yesButton").attr("href", link.attr("href"))
			})
		})
	</script>
</body>

</html>