<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
<!-- <meta http-equiv="Content-Type" content="text/html" charset=UTF-8">-->
<meta name="viewport"
	content="width=device-width, initial-scale=1.0 ,minimum-scale=1.0">
<title>[[${pageTitle}]]</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/src/main/resources/static/css/index.css}" />
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<style>
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

#navbar {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	padding: .5rem 5rem;
	background: #189bf3;
}

.navbar .navbar-brand {
	font-size: 25px;
	font-weight: 600;
	color: #fff;
	letter-spacing: 4px;
}

#navbarSupportedContent a {
	color: #fff;
	border-bottom: 2px solid transparent;
}

#navbarSupportedContent a:hover {
	border-bottom: 2px solid #7e1d53;
	;
}

#navbarSupportedContent button {
	background-color: #ffffff;
	width: 5rem;
	border-radius: 15px;
	color: black;
	border: none;
}

#navbarSupportedContent button:hover {
	background-color: #7e1d53;
	color: white;
}

.table-content {
	margin: 50px;
}
</style>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark stroke" id="navbar">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><b>Shop</b>-Here</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/users}">Users</a></li>

					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/}">Catagories</a></li>


					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/}">Brands</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/}">Products</a></li>

					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/}">Customers</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/}">Shipping</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/}">Reports</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/}">Menus</a></li>
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/}">Setting</a></li>
				</ul>
				<button class="btn btn-primary">Sign In</button>

			</div>
		</div>
	</nav>
	<div>
		<h2 class="text-center pt-1">Manage User|[[${pageTitle}]]</h2>
	</div>

	<div class="modal fade text-center" id="modalDialog">
		<div class="modal-dialog">

			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Warning</h4>
					<button type="button" class="close" data-dismiss="modal">&times</button>
				</div>

				<div class="modal-body">
					<span id="modalBody"></span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<form th:action="@{/users/save}" method="post"
		style="max-width: 700px; margin: 0 auto" th:object="${user}"
		autocomplete="off" onsubmit="return checkUniqueEmail(this)"
		 enctype="multipart/form-data">
		<input type="hidden" th:field="*{id}" id="userId" />
		<div class="border border-secondary rounded p-3">
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">E-mail</label>
				<div class="col-sm-8">
					<input type="email" class="form-control" th:field="*{email}"
						id="email" required minlength="8" maxlength="128" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label">First Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" th:field="*{firstName}"
						required minlength="2" maxlength="128" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Last Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" th:field="*{lastname}"
						required minlength="2" maxlength="128" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Password</label>
				<div class="col-sm-8">
					<input th:if="${user.id==null}" type="password"
						class="form-control" th:field="*{password}" required minlength="8"
						maxlength="20" /> <input th:if="${user.id!=null}" type="password"
						class="form-control" th:field="*{password}" minlength="8"
						maxlength="20" />
				</div>
			</div>


			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Roles</label>
				<div class="col-sm-8">
					<th:block th:each="role:${listRoles}">
						<input type="checkbox" th:field="*{roles}" th:text="${role.name}"
							th:value="${role.id}" class="m-2" />-
						<small>[[${role.description}]]</small>
						<br />
					</th:block>
				</div>
			</div>


			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Enabled</label>
				<div class="col-sm-8">
					<input type="checkbox" th:field="*{enabled}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Photos</label>
				<div class="col-sm-8">
				    <input type="hidden" th:field="*{photos}">
					<input type="file" id="fileImage" name="image" accept="image/png, image/jpeg" />
					<img id="thumbnail" th:src="@{${user.photoImagePath}}" 
						style="height: 80px; width: 80px" />
				</div>
			</div>



			<div class="text-center">
				<input type="submit" value="Save" class="btn btn-primary m-3">'
				<input type="button" value="Cancel" class="btn btn-secondary"
					id="buttonCancel">
			</div>
		</div>

	</form>

	<div class="text-center">
		<p>ShopHere Control Panel-Copyright &copy; ShopHere</p>
	</div>
</body>

<script type="text/javascript">
	$(document).ready(function () {
		$("#buttonCancel").on("click", function () {
			window.location = "[[@{/users}]]"
		})
		
		$("#fileImage").change(function(){
	        var fileSize=this.files[0].size;
	        if(fileSize>1048576)
	        {
	         this.setCustomValidity("you must choose an image less than 1MB")
	         this.reportValidity();
	        }
	        else
	        {
	        this.setCustomValidity("")
	        showImageThumbnail(this)
	        }
		})
	})
	
	function  showImageThumbnail(fileInput)
	{
	   console.log("FileInput->this",fileInput);
	   var file=fileInput.files[0];
	   console.log("fileVariable",file);
	   var reader=new FileReader();
	   reader.onload= function(e){
	      console.log("e",e);
	      console.log("Result",e.target.result);
	      $("#thumbnail").attr("src",e.target.result);
	   }
	   reader.readAsDataURL(file);
	}

	function checkUniqueEmail(form) {
		var url = "[[@{/users/checkemail}]]";
		var userId = $("#userId").val();
		var userEmail = $("#email").val();
		var csrf = $("input[name='_csrf']").val();
		var params = {id:userId,email: userEmail, _csrf: csrf};
		$.post( url, params, function (response) {
			if (response == "OK") {
				form.submit();
			}
			else if (response = "DUPLICATED") {
				showDialogModule("Warning", "This email is already taken " + userEmail);
			}
			else {
				showDialogModule("Error", "Unknown Response from Server");
			}

		}).fail(function () {
			showDialogModule("Error", "Could not connect to server");
		});
		return false
	}

	function showDialogModule(title, message) {
		$("#modal-title").text(title);
		$("#modalBody").text(message);
		$('#modalDialog').modal();
	}
</script>

</html>