* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	
}

#navbar {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	padding: .5rem 5rem;
	background: #189bf3;
}

.navbar .navbar-brand {
	font-size: 25px;
	font-weight: 600;
	color: #fff;
	letter-spacing: 4px;
}

#navbarSupportedContent a {
	color: #fff;
	border-bottom: 2px solid transparent;
}

#navbarSupportedContent a:hover {
	border-bottom: 2px solid #7e1d53;
	;
}

#navbarSupportedContent button {
	background-color: #ffffff;
	width: 5rem;
	border-radius: 15px;
	color: black;
	border: none;
}

#navbarSupportedContent button:hover {
	background-color: #7e1d53;
	color: white;
}

.table-content {
	margin: 50px;
}

.dashboard {
	padding: 30px;
	margin: 10px;
}

h4{
font-weight: 700;
font-size: 60px;
}

.card1
{
background-color:#b7dbe8;
text-align: center;
}
.card2
{
background-color: #b7e8c7;
text-align: center;
}

.card3
{
background-color: #cdb7e8;
text-align: center;
}

.partition
{
display:flex;
justify-content: space-around;

}
.subpatition{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.cardNumber
{
	margin-left: 25px;
	padding:10px
}