<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<!-- <th th:replace="fragments/user_list_fragment::column_link('firstName','First Name')"/> -->
<head th:replace="fragments/page_header::page_head('UserForm-ShopHere Admin')"></head>
<style>
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

#navbar {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	padding: .5rem 5rem;
	background: #189bf3;
}

.navbar .navbar-brand {
	font-size: 25px;
	font-weight: 600;
	color: #fff;
	letter-spacing: 4px;
}

#navbarSupportedContent a {
	color: #fff;
	border-bottom: 2px solid transparent;
}

#navbarSupportedContent a:hover {
	border-bottom: 2px solid #7e1d53;
	;
}

#navbarSupportedContent button {
	background-color: #ffffff;
	width: 5rem;
	border-radius: 15px;
	color: black;
	border: none;
}

#navbarSupportedContent button:hover {
	background-color: #7e1d53;
	color: white;
}

.table-content {
	margin: 50px;
}
</style>

<body>
	<div  th:replace="fragments/navbar::menu"></div>
	<div>
		<h2 class="text-center pt-1">Manage User|[[${pageTitle}]]</h2>
	</div>

     
	<div  th:replace="fragments/model_dialog::modal_dialog"></div>

	<form th:action="@{/users/save}" method="post"
		style="max-width: 700px; margin: 0 auto" th:object="${user}"
		autocomplete="off" onsubmit="return checkUniqueEmail(this)"
		 enctype="multipart/form-data">
		<input type="hidden" th:field="*{id}" id="userId" />
		<div class="border border-secondary rounded p-3">
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">E-mail</label>
				<div class="col-sm-8">
					<input type="email" class="form-control" th:field="*{email}"
						id="email" required minlength="8" maxlength="128" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label">First Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" th:field="*{firstName}"
						required minlength="2" maxlength="128" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Last Name</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" th:field="*{lastname}"
						required minlength="2" maxlength="128" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Password</label>
				<div class="col-sm-8">
					<input th:if="${user.id==null}" type="password"
						class="form-control" th:field="*{password}" required minlength="8"
						maxlength="20" /> <input th:if="${user.id!=null}" type="password"
						class="form-control" th:field="*{password}" minlength="8"
						maxlength="20" />
				</div>
			</div>


			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Roles</label>
				<div class="col-sm-8">
					<th:block th:each="role:${listRoles}">
						<input type="checkbox" 
						    th:field="*{roles}" 
						    th:text="${role.name}"
							th:value="${role.id}" class="m-2" />-
						<small>[[${role.description}]]</small>
						<br />
					</th:block>
				</div>
			</div>


			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Enabled</label>
				<div class="col-sm-8">
					<input type="checkbox" th:field="*{enabled}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Photos</label>
				<div class="col-sm-8">
				    <input type="hidden" th:field="*{photos}">
					<input type="file" id="fileImage" name="image" accept="image/png, image/jpeg" />
					<img id="thumbnail" th:src="@{${user.photoImagePath}}" 
						style="height: 80px; width: 80px" />
				</div>
			</div>



			<div class="text-center">
				<input type="submit" value="Save" class="btn btn-primary m-3">'
				<input type="button" value="Cancel" class="btn btn-secondary"
					id="buttonCancel">
			</div>
		</div>

	</form>

	<div th:replace="fragments/footer::footer_page"></div>
</body>

<script type="text/javascript">
	moduleURL="[[@{/users}]]";
	function checkUniqueEmail(form) {
		var url = "[[@{/users/checkemail}]]";
		var userId = $("#userId").val();
		var userEmail = $("#email").val();
		var csrf = $("input[name='_csrf']").val();
		var params = {id:userId,email: userEmail, _csrf: csrf};
		$.post( url, params, function (response) {
			if (response == "OK") {
				form.submit();
			}
			else if (response = "DUPLICATED") {
				 showWarningModel("This email is already taken " + userEmail)
			}
			else {
			 showErrorModel("Unknown Response from Server")
			}

		}).fail(function () {
			 showErrorModel("Could not connect to server")
		});
		return false
	}

	
</script>
<script type="text/javascript" th:src="@{/js/common_form.js}"></script>
</html>