<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head
	th:replace="fragments/page_header::page_head('Users-ShopHere Admin')"></head>
<body>
	<div th:replace="fragments/navbar::menu"></div>
	<div class="pt-2">
		<h2 class="text-center">Manage User</h2>
	</div>

	<div class="float-right pr-5">
		<a th:href="@{/users/new}"><span
			class="fas fa-user-plus fa-lg-custom"></span></a> &nbsp;&nbsp; <a
			th:href="@{/users/export/csv}"><span
			class="fas fa-file-csv fa-lg-custom"></span></a> &nbsp;&nbsp; <a
			th:href="@{/users/export/excel}"><span
			class="fas fa-file-excel fa-lg-custom"></span></a>&nbsp;&nbsp; <a
			th:href="@{/users/export/pdf}"><span
			class="fas fa-file-pdf fa-lg-custom"></span></a>
	</div>

	<div th:replace="fragments/search ::search_form('/users/page/1')"></div>


	<div class="table-content">

		<div th:if="${message!=null}" class="alert alert-success text-center">
			[[${message}]]</div>
		<table
			class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th>User ID</th>
					<th>Email</th>
					<th
						th:replace="fragments/list_fragment::column_link('users','firstName','First Name')" />
					<th>Last Name</th>
					<th>Roles</th>
					<th>Photos</th>
					<th>Enabled</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="user:${listusers}">
					<td>[[${user.id}]]</td>
					<td>[[${user.email}]]</td>
					<td>[[${user.firstName}]]</td>
					<td>[[${user.lastname}]]</td>
					<td>[[${user.roles}]]</td>
					<td><img th:if="${user.photos==null}"
						th:src="@{${user.photoImagePath}}"
						style="width: 100px; height: 100px" /> <img
						th:if="${user.photos!=null}" th:src="@{${user.photoImagePath}}"
						style="width: 100px; height: 100px" /></td>

					<td>
						<div
							th:replace="fragments/list_fragment::enable_status(${user.enabled},'user','/users/'+${user.id})">
						</div>
					</td>
					
					<td> 
					   <div style="display: flex;">
						<div th:replace="fragments/list_fragment::edit('user','/users/edit/'+${user.id},${user.id})"></div> &nbsp; &nbsp;
                   		<div th:replace="fragments/list_fragment::delete('user','/users/delete/'+${user.id},${user.id})"></div>
                   		</div>
					</td>

				</tr>
			</tbody>
		</table>




	</div>
	<div th:replace="fragments/pagination ::pagination('/users','users')"></div>
	<div th:replace="fragments/model_fragments::confirm_modal"></div>
	<div th:replace="fragments/footer::footer_page"></div>
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
	
	     moduleURL="[[@{/users}]]"
			
		
		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				e.preventDefault();
				 showDeleteConfirmModel($(this),'user')
			})
		})
			
	</script>
</body>

</html>