<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head
	th:replace="fragments/page_header::page_head('Users-ShopHere Admin')"></head>
<body>
	<div th:replace="fragments/navbar::menu"></div>
	<div class="pt-2">
		<h2 class="text-center">Manage User</h2>
	</div>

	<div class="float-right pr-5">
		<a th:href="@{/users/new}"><span
			class="fas fa-user-plus fa-lg-custom"></span></a> &nbsp;&nbsp; <a
			th:href="@{/users/export/csv}"><span
			class="fas fa-file-csv fa-lg-custom"></span></a> &nbsp;&nbsp; <a
			th:href="@{/users/export/excel}"><span
			class="fas fa-file-excel fa-lg-custom"></span></a>&nbsp;&nbsp; <a
			th:href="@{/users/export/pdf}"><span
			class="fas fa-file-pdf fa-lg-custom"></span></a>
	</div>

	<div class="pl-5 mt-2">
		<form th:action="@{/users/page/1}" class="form-inline">
			Filter: &nbsp; <input type="hidden" name="sortField"
				th:value="${SortField}" /> <input type="hidden" name="sortDir"
				th:value="${SortDir}" /> <input type="search" name="keyword"
				th:value="${keyword}" class="form-control" required /> &nbsp;&nbsp;
			<input type="submit" value="Search" class="btn btn-primary" />
			&nbsp; <input type="reset" value="Clear" class="btn btn-danger"
				onclick="clearFeature()" />
		</form>
	</div>

	<div th:if="${message!=null}" class="alert alert-success text-center">
		[[${message}]]</div>

	<div class="table-content">
		<table
			class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th>User ID</th>
					<th>Email</th>
					<th
						th:replace="fragments/user_list_fragment::column_link('firstName','First Name')" />
					<th>Last Name</th>
					<th>Roles</th>
					<th>Photos</th>
					<th>Enabled</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="user:${listusers}">
					<td>[[${user.id}]]</td>
					<td>[[${user.email}]]</td>
					<td>[[${user.firstName}]]</td>
					<td>[[${user.lastname}]]</td>
					<td>[[${user.roles}]]</td>
					<td><img th:if="${user.photos==null}"
						th:src="@{${user.photoImagePath}}"
						style="width: 100px; height: 100px" /> <img
						th:if="${user.photos!=null}" th:src="@{${user.photoImagePath}}"
						style="width: 100px; height: 100px" /></td>

					<td><a th:if="${user.enabled==true}"
						class="fas fa-check-circle fa-lg" style="color: #70db06;"
						th:href="@{'/users/'+${user.id}+'/enabled/false'}"
						title="Disable user"></a> <a th:if="${user.enabled==false}"
						class="fas fa-check-circle fa-lg" style="color: black;"
						th:href="@{'/users/'+${user.id}+'/enabled/true'}"
						title="Enable user"></a></td>
					<td><a class="fas fa-user-edit fa-lg " style="color: #007bff"
						th:href="@{'/users/edit/'+${user.id}}" title="Edit the user"></a>
						<span>|</span> <a class="fas fa-trash-alt fa-lg link-delete"
						style="color: #f50000;" th:href="@{'/users/delete/'+${user.id}}"
						th:userId="${user.id}" title="Delete the User"></a></td>

				</tr>
			</tbody>
		</table>
		<div class="text-center m-1" th:if="${totalItems>0}">
			<span>Showing User # [[${startCount}]] to [[${endCount}]] of
				[[${totalItems}]]</span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems>0}">
			<span>No UserFound</span>
		</div>
		<div th:if="${totalItems>0}">
			<nav>
				<ul class="pagination justify-content-center">
					<li th:class="${currentPage>1?'page-item':'page-item disabled'}"><a
						class="page-link"
						th:href="@{'/users/page/1?sortField='+${SortField}+'&sortDir='+${SortDir}+${keyword!=null ? '&keyword='+keyword:' '}}">First</a></li>
					<li th:class="${currentPage>1?'page-item':'page-item disabled'}"><a
						class="page-link"
						th:href="@{'/users/page/' + ${currentPage-1}+'?sortField='+${SortField}+'&sortDir='+${SortDir}+${keyword!=null ? '&keyword='+keyword:' '}}">Previous</a>
					</li>
					<li th:class="${currentPage!=i ? 'page-item': 'page-item active'}"
						th:each="i:${#numbers.sequence(1,totalPage)}"><a
						class="page-link"
						th:href="@{'/users/page/' + ${i}+'?sortField='+${SortField}+'&sortDir='+${SortDir}+${keyword!=null ? '&keyword='+keyword:' '}}">[[${i}]]</a>
					</li>
					<li
						th:class="${currentPage<totalPage?'page-item':'page-item disabled'}"><a
						class="page-link"
						th:href="@{'/users/page/' + ${currentPage+1}+'?sortField='+${SortField}+'&sortDir='+${SortDir}+${keyword!=null ? '&keyword='+keyword:' '}}">Next</a>
					</li>
					<li
						th:class="${currentPage<totalPage?'page-item':'page-item disabled'}"><a
						class="page-link"
						th:href="@{'/users/page/' + ${totalPage}+'?sortField='+${SortField}+'&sortDir='+${SortDir}+${keyword!=null ? '&keyword='+keyword:' '}}">Last</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="modal fade text-center" id="confirmmodalDialog">
			<div class="modal-dialog">

				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="modalTitle">Delete Confirmation</h4>
						<button type="button" class="close" data-dismiss="modal">&times</button>
					</div>

					<div class="modal-body">
						<span id="confirmText"></span>
					</div>
					<div class="modal-footer">
						<a class="btn btn-success" id="yesButton" href="">yes</a>
						<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div th:replace="fragments/footer::footer_page"></div>

	<script type="text/javascript">
		$(document).ready(function () {
			$(".link-delete").on("click", function (e) {
				link = $(this);
				userId = link.attr("userId")
				e.preventDefault();
				$("#confirmmodalDialog").modal();
				$("#confirmText").text("Are you want to delete this User ID:" + userId + "?")
				$("#yesButton").attr("href", link.attr("href"))
			})
		})
		
		function clearFeature()
		{
			window.location="[[@{/users}]]"
		}
	</script>
</body>

</html>